* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}


.header{
    background-color: #f3c677;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 72px 32px;

}

nav {
    display: flex;
    justify-content: space-between;
    margin-left: 64px;
    margin-right: 64px;
}

nav div{
    font-size: 42px;
    color: black;
    margin-bottom: 32px;

}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 24px;
}

h1 {
    line-height: 48px;
}

.intro {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 64px;
    gap: 24px;
}

.intro-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    gap: 12px;

}

.intro-left button {
    border: none;
    border-radius: 5px;
    padding: 8px 32px;
    background-color: #7b1e7a;
    color: #f3c677;
    font-size: 24px;
}



.intro-left p {
    font-size: 18px;
    color: black;
    margin-bottom: 0.70em;
    animation: 2s ease-out 0s 1 slideUp;


}
h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: black;
    animation: 2s ease-out 0s 1 slideUp;

}


a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.intro img {
    object-fit: cover;
    height: 50%;
    width: 50%;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: black;
    margin: 0px auto;
    margin-bottom: 36px;
    
}

.info {
    position: relative;
    padding: 36px;
    padding-bottom: 108px;
  

   
}

.info-content {
    position: relative;
   

}

.background {
    position: absolute;
    z-index: 0;
    background-color:#7b1e7a;
    opacity: 60%;
    top: 0;
    left: 0;
    width:fit-content;
    height: fit-content;
    overflow: hidden;
    font-size: 0;
    padding-left: 0;
    padding-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    
}
#grid {

    border: 1px solid #b33f62;
    display: inline-block;
    background-color: #7b1e7a;
    box-sizing: border-box;


}
#grid2 {

    border: 1px solid #b33f62;
    display: inline-block;
    background-color: #7b1e7a;;
    box-sizing: border-box;


}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;

}

.square {
    border: 3px solid #7b1e7a;
    width: 130px;
    height: 130px;
    border-radius: 12px;
    z-index: 1;
}

.square img {
    object-fit: cover; 
    width: 130px;
    height: 130px;
    border-radius: 5px;
}
.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: black;
    max-width: 130px;
    font-weight: bold;
    
}

.quote {
 /*  background-color: #E5E7EB;*/
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: black;
    padding: 108px 216px;
    

}
.author {
    text-align: right;
    font-weight: 1000;
    font-size: 24px;
}

.call {
    background-color: black;
    margin: 80px 180px; 
    padding: 36px 64px;
    display: flex;
    color: #f3c677;
    justify-content: space-around;
    border-radius: 5px;
    z-index: 1;
    position: relative;
    gap: 18px;
}
h3 {
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 24px;
}

.text p {
    line-height: 20px;
}

.call p{
    color:#f3c677;
    font-size: 20px;

}

.call button {
    border-color:#f3c677;
    border-radius: 5px;
    color:#f3c677;
    background-color: #7b1e7a;
    padding: 6px 30px;
    flex: 0 0 auto;
    border-style: solid;
    font-size: 24px;

}


body {
        background-color:#f3c677;
}

footer {
    background-color: black;
    padding: 32px 32px 32px 7px;
    text-align: center;
    color: #f3c677;
    z-index: 1;
    position: relative;
    position: fixed;
  
  bottom: 0;
  width: 100%;
}
#btn4 {
   
   
    animation: 2s ease-out 0s 1 scaleUp;
  
    display: flex;
   justify-content: center;
    align-items: center; 
   
    overflow: hidden;
    transition: all 0.8s ease;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  #btn4::before,
#btn4::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
}
  
  #btn4:after {
    left: -100%;
    clip-path: polygon(10% 0, 70% 0, 90% 100%, 30% 100%);
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 300ms ease;
  }
  
  #btn4:hover::after {
    left: 100%;
  }

  @keyframes scaleUp {
    0% {
        transform: scale(0.5);
        transform-origin: bottom left;
    }
    100% {
        transform: scale(1);
        transform-origin: bottom left;
        
        
    }
}

    @keyframes slideUp {
        0% {
            transform: translateY(100%);
        }
        100% {
            transform: translateY(0%);
        }
    }

    @media only screen and (max-width: 800px) {
        .header {
            padding: 8px 20px 32px;
        }

        nav {
            display: flex;
            justify-content: space-between;
            margin-left: 20px;

        }

        ul {
            display: none;
        }

        h1 {
            line-height: 46px;
        }

        .intro {
            flex-direction: column;
            margin: 20px;
        }

        .intro img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        .quote{
            padding: 50px;
        }

        button:hover {
            cursor: pointer;
        }

        .call button {
            border-color:#f3c677;
            border-radius: 5px;
            color:#f3c677;
            background-color: #7b1e7a;
            padding: 4px 10px;
            flex: 0 0 auto;
            border-style: solid;
            font-size: 20px;
        }

        .call {
            background-color: black;
            margin: 80px 32px; 
            padding: 32px 32px;
            display: flex;
            color: #f3c677;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            z-index: 1;
            position: relative;
            flex-direction: column;
            text-align: center;
        }

        .text {
            font-size: 10px;
        }

    }
    