* {
    margin: 0;
    padding: 0;
    font-family: Roboto;

 
}

body {
}
.header{
    background-color: #0c0a3e;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    padding: 8px 72px 32px;

}

.intro {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 64px;
    gap: 24px;
}

.intro-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    gap: 12px;

}

.intro-left button {
    border: none;
    border-radius: 5px;
    padding: 8px 32px;
    background-color: #f9564f;
    color: #7b1e7a;
    font-size: 24px;
}



.intro-left p {
    font-size: 18px;
    color: #f3c677;
    margin-bottom: 0.70em;


}
h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f3c677;

}

nav {
    display: flex;
    justify-content: space-between;
    margin-left: 64px;
    margin-right: 64px;
}

nav div{
    font-size: 24px;
    color: #f3c677;

}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 24px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #f3c677;
}

.intro img {
    object-fit: cover;
    height: 50%;
    width: 50%;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #0c0a3e;
    margin: 0px auto;
    margin-bottom: 36px;
    
}

.info {
    position: relative;
    padding: 36px;
    padding-bottom: 108px;
  

   
}

.info-content {
    position: relative;
   

}

.background {
    position: absolute;
    z-index: 0;
    background-color:#7b1e7a;
    opacity: 60%;
    top: 0;
    left: 0;
    width:fit-content;
    height: fit-content;
    overflow: hidden;
    font-size: 0;
    
}
#grid {

    border: 1px solid #b33f62;
    display: inline-block;
    background-color: #7b1e7a;
    box-sizing: border-box;


}
#grid2 {

    border: 1px solid #b33f62;
    display: inline-block;
    background-color: #7b1e7a;;
    box-sizing: border-box;


}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;

}

.square {
    border: 3px solid #7b1e7a;
    width: 130px;
    height: 130px;
    border-radius: 12px;
    z-index: 1;
}

.square img {
    object-fit: cover; 
    width: 130px;
    height: 130px;
    border-radius: 5px;
}
.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: black;
    max-width: 130px;
    font-weight: bold;
    
}

.quote {
 /*  background-color: #E5E7EB;*/
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #0c0a3e;
    padding: 108px 216px;
    

}
.author {
    text-align: right;
    font-weight: 1000;
    font-size: 24px;
}

.call {
    background-color: #0c0a3e;
    margin: 80px 180px; 
    padding: 36px 64px;
    display: flex;
    color: #f3c677;
    justify-content: space-around;
    border-radius: 5px;
    z-index: 1;
    position: relative;
}
h3 {
    font-size: 24px;
}
.call p{
    color:#f3c677;
    font-size: 20px;

}

.call button {
    border-color:#f3c677;
    border-radius: 5px;
    color:#f3c677;
    background-color: #7b1e7a;
    padding: 6px 30px;
    flex: 0 0 auto;
    border-style: solid;
    font-size: 24px;

}


body {
        background-color:#f3c677;
}

footer {
    background-color: #0c0a3e;
    padding: 32px;
    text-align: center;
    color: #f3c677;
    z-index: 1;
    position: relative;
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
#btn4 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.8s ease;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  #btn4::before,
#btn4::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
}
  
  #btn4:after {
    left: -100%;
    clip-path: polygon(10% 0, 70% 0, 90% 100%, 30% 100%);
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 300ms ease;
  }
  
  #btn4:hover::after {
    left: 100%;
  }
